h1 {
    color: #FFD700;
    font-size: 3rem;
    text-align: center;
    background-color: #000;
    padding: 2rem;
    box-shadow: 0px 0px 5px #000;
}

.planet-name {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.prop {
    display: flex;
}

.key {
    font-weight: 600;
    padding-right: 8px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 1rem 1rem;
    padding: 2rem;
}

.card {
    background-color: #b1b0b0;
    border: 2px solid #000;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #000 inset;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    height: 300px;
}

.card button {
    background-color: #141414;
    border: 1px solid #000;
    border-radius: 2px;
    color: #FFD700;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
}

.card button:hover {
    background-color: #141414;
    color: #FFD700;
    border: 1px solid #FFD700;
}

.page-btns {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}

.page-btns button {
    width: 100px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #000;
    font-size: 16px;
}

.page-btns button:hover {
    background-color: #b1b0b0;
    font-weight: 600;
}