<h1>STAR WARS UNIVERSE</h1>

<div class="grid">
    <div *ngFor="let planet of planets" class="card">
        <div class="planet-name">{{ planet.name }}</div>
        <div class="prop">
            <div class="key">Climate:</div>
            <div>{{ planet.climate }}</div>
        </div>
        <div class="prop">
            <div class="key">Terrain:</div>
            <div>{{ planet.terrain }}</div>
        </div>
        <div class="prop">
            <div class="key">Population:</div>
            <div>{{ planet.population }}</div>
        </div>
        <button routerLink="/planet-details">View details</button>
    </div>
</div>
<div class="page-btns">
    <button (click)="prevPage()" (click)="getPlanets(page)">Prev</button>
    <p>{{page}} - 6</p>
    <button (click)="nextPage()" (click)="getPlanets(page)">Next</button>
</div>